<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">
	
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<!--<extensions>
			<add assembly="Harvester.Integration.NLog, Version=2.0.2.0, Culture=neutral, PublicKeyToken=2335e074c59acad6" />
		</extensions>-->
	<targets>
		<target name="file" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" fileName="${basedir}/Log/AIS.log" keepFileOpen="false" archiveAboveSize="15728640" archiveFileName="${basedir}/Log/Archieve/${shortdate}.{######}.log" archiveNumbering="Sequence" concurrentWrites="true" archiveEvery="Day" maxArchiveFiles="999999" createDirs="true" />
		<!--<target xsi:type="NLogViewer" name="viewer" address="udp://127.0.0.1:9999" onOverflow="Split" newLine="true" encoding="UTF-8" keepConnection="true" />-->
		<target name="console" xsi:type="ColoredConsole" layout="${longdate} - [${level:uppercase=true}] (${logger}) : ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />
		<!--<target xsi:type="Harvester" name="Harvester" bufferType="NamedPipeBuffer" binding="\\.\pipe\Harvester" mutexName="HarvesterMutex" />-->
	</targets>
	<rules>
		<logger name="*" writeTo="file" minlevel="Debug" />
		<!--<logger name="*" writeTo="viewer" minlevel="Debug" />-->
		<logger name="*" writeTo="console" minlevel="Trace" />
		<!--<logger name="*" writeTo="Harvester" minlevel="Trace" />-->
	</rules>
</nlog>